{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "max-len": ["error", 150, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/anchor-is-valid": 0
  }
}
